<h1>Planes</h1>

<hr>

<div class="row text-right ">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/home">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<hr>

<div >
  <input class="form-control"
         #box
         name="buscar"
         type="text" 
         placeholder="Buscar"
         (change)="buscarProduct(box.value)"  
         >
</div>

<br>

<div class="row">
  <div class="card-columns">

      <div class="card" *ngFor="let item of products">
        <img [src]="item.imageId|imagenes" class="card-img-top" [alt]="item.name">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text" text-justify>{{item.description | slice:0:100}}</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary"
            [routerLink]="['/product',item.id]">
            Detalles
          </button>
        </div>
      </div>

  </div>
</div>

