
<h1>Toures Balon
  <i class="fa fa-futbol-o" style="margin-left: 800px"></i>
</h1>
<div class="jumbotron jumbotron-fluid" style="background-color: #66a2e2;">
  <div class="container">
    <h1 class="display-4"> Planes Turísticos Deportivos </h1>
    <p class="lead">App que ayuda a lograr asistir a los mejores eventos de Futbol</p>
  </div>
</div>


<hr>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand">Eventos Deportivos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="validateRoute(2)"> 
        <a class="nav-link" [routerLink]="['/products']">Planes</a>
      </li>
      <li class="nav-item" *ngIf="validateRoute(1)">
        <a class="nav-link" [routerLink]="['/ordenes']" >Ordenes Oms</a>
      </li>
      <li class="nav-item"  *ngIf="validateRoute(4)">
        <a class="nav-link" [routerLink]="['/productsoms']">Productos Oms</a> 
      </li>

    </ul>
  </div>
</nav>

<hr>
<br>
<br>
<br>


<div class="jumbotron text-center" style="background-color: rgb(0 123 255 / 21%);">
  <h1>Los mejores escenarios Deportivos</h1>
  <p>Realiza tus reservas de manera rapida y segura!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Copa Mundial</h3>
      <p>La Copa Mundial de la FIFA, también conocida como Copa Mundial de Fútbol, Copa del Mundo o simplemente Mundial</p>
      <p>cuyo nombre original fue Campeonato Mundial de Fútbol, es el principal torneo internacional oficial de fútbol masculino a nivel de selecciones nacionales en el mundo</p>
    </div>
    <div class="col-sm-4">
      <h3>La Champions</h3>
      <p>La Liga de Campeones de la UEFA, originariamente conocida como Copa de Europa,</p>
      <p>es el torneo internacional oficial de fútbol más prestigioso a nivel de clubes entre los organizados por la Unión de Asociaciones Europeas de Fútbol</p>
    </div>
    <div class="col-sm-4">
      <h3>La Libertadores</h3>        
      <p>La Copa Libertadores de América, denominada oficialmente Copa Conmebol Libertadores</p>
      <p> es un torneo anual internacional oficial de fútbol organizado por la Confederación Sudamericana de Fútbol, creado en 1960 bajo la denominación de Copa de Campeones de América</p>
    </div>
  </div>
</div>

