<div *ngIf="product" 
    class="container main-container animated fadeIn fast">

  <h1>Producto</h1>
  <hr>

  <div class="row text-right ">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/products">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row">

    
    <div class="col-md-5">
      <img [src]="product.imageId|imagenes" class="card-img-top" alt=""
            >
    </div>

    <div class="col-md-7">
      <h1>{{product.name}}</h1>
      <hr>
      <p class="text-justify">
        {{product.description}}
      </p>

      <br>
      <div style="margin-top: 174px;">
        <label >
          <b>Precio</b>
        </label>
        <h3>{{product.amount | currency}}</h3>
  
      </div>
    

    </div>


  </div>



  
</div>