<h1>Registro de Productos</h1>

<hr>

<div class="row text-right ">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/catalogo">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<hr>

<div class="row animated fadeIn faster">
  <div class="col">

    <form [formGroup]="formRegistro" (ngSubmit)="save()">

      <div class="form-group row">
      <label class="col-2 col-form-label">Producto</label>
        <div class="col">
          <input class="form-control"
                 name="producto" 
                 type="text" 
                 placeholder="Producto o Servicio"
                 formControlName="Name">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">Catalogo</label>
        <div class="col">
          <input class="form-control"
                 name="Catalogo"
                 type="text" 
                 placeholder="Catalogo"
                 formControlName="Catalogue">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Cantidad stock</label>
        <div class="col">
          <input class="form-control"
                 name="cantidad"
                 type="number" 
                 placeholder="Cantidad"
                 formControlName="Stock">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Precio</label>
        <div class="col">
          <input class="form-control"
                 name="precio"
                 type="number" 
                 placeholder="Precio $$"
                 formControlName="Price">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
          <button type="submit" class="btn btn-outline-primary btn-block">
            Guardar
          </button>
        </div>
      </div>

    </form>



  </div>
</div>